<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Welcome to your Dashboard</h1>

	<h2> This is the home page for the <a href="http://atualimoveispb.com.br/">Atual Imóveis</a> Administrative Manager. </h2>
</div>
